{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit




<!DOCTYPE html>
<html lang="en-GB">
<head>
        

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/images/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/images/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="images/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="images/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="images/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="images/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="images/favicons/largetile-310x310.png">
    <title>Endpoint registration</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    <link href="https://onboarding.prod.api.platform.nhs.uk/main.css" media="screen, print" rel="stylesheet" />
    <link href="/jquery.dataTables.min.css" rel="stylesheet" />

</head>
{% endblock %}


{% block content %}

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="country">
Choose organisation
    </label>
  </h1>
  
  <div class="autocomplete__wrapper">
  <select class="govuk-select" id="country" name="country"
    data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
   
     <option value="NHS NORTH EAST AND NORTH CUMBRIA ICB - 00L">NHS NORTH EAST AND NORTH CUMBRIA ICB - 00L</option>
            <option value="NHS NORTH EAST AND NORTH CUMBRIA ICB - 00N">NHS NORTH EAST AND NORTH CUMBRIA ICB - 00N</option>
            <option value="NHS NORTH EAST AND NORTH CUMBRIA ICB - 00P">NHS NORTH EAST AND NORTH CUMBRIA ICB - 00P</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00Q">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00Q</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00R">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00R</option>
            <option value="NHS GREATER MANCHESTER ICB - 00T">NHS GREATER MANCHESTER ICB - 00T</option>
            <option value="NHS GREATER MANCHESTER ICB - 00V">NHS GREATER MANCHESTER ICB - 00V</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00X">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00X</option>
            <option value="NHS GREATER MANCHESTER ICB - 00Y">NHS GREATER MANCHESTER ICB - 00Y</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01A">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01A</option>
            <option value="NHS GREATER MANCHESTER ICB - 01D">NHS GREATER MANCHESTER ICB - 01D</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01E">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01E</option>
            <option value="NHS CHESHIRE AND MERSEYSIDE ICB - 01F">NHS CHESHIRE AND MERSEYSIDE ICB - 01F</option>
            <option value="NHS GREATER MANCHESTER ICB - 01G">NHS GREATER MANCHESTER ICB - 01G</option>
            <option value="NHS NORTH EAST AND NORTH CUMBRIA ICB - 01H">NHS NORTH EAST AND NORTH CUMBRIA ICB - 01H</option>
            <option value="NHS CHESHIRE AND MERSEYSIDE ICB - 01J">NHS CHESHIRE AND MERSEYSIDE ICB - 01J</option>
            <option value="NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01K">NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01K</option>
            <option value="NHS CHESHIRE AND MERSEYSIDE ICB - 01T">NHS CHESHIRE AND MERSEYSIDE ICB - 01T</option>
            <option value="NHS CHESHIRE AND MERSEYSIDE ICB - 01V">NHS CHESHIRE AND MERSEYSIDE ICB - 01V</option>
            <option value="NHS GREATER MANCHESTER ICB - 01W">NHS GREATER MANCHESTER ICB - 01W</option>
            <option value="NHS CHESHIRE AND MERSEYSIDE ICB - 01X">NHS CHESHIRE AND MERSEYSIDE ICB - 01X</option>
            <option value="NHS GREATER MANCHESTER ICB - 01Y">NHS GREATER MANCHESTER ICB - 01Y</option>
            <option value="NHS BUCKINGHAMSHIRE, OXFORDSHIRE AND BERKSHIRE WEST ICB - 15A">NHS BUCKINGHAMSHIRE, OXFORDSHIRE AND BERKSHIRE WEST ICB - 15A</option>
            <option value="NHS BRISTOL, NORTH SOMERSET AND SOUTH GLOUCESTERSHIRE ICB - 15C">NHS BRISTOL, NORTH SOMERSET AND SOUTH GLOUCESTERSHIRE ICB - 15C</option>
            <option value="NHS BIRMINGHAM AND SOLIHULL ICB - 15E">NHS BIRMINGHAM AND SOLIHULL ICB - 15E</option>
            <option value="NHS WEST YORKSHIRE ICB - 15F">NHS WEST YORKSHIRE ICB - 15F</option>
            <option value="NHS DERBY AND DERBYSHIRE ICB - 15M">NHS DERBY AND DERBYSHIRE ICB - 15M</option>
            <option value="NHS DEVON ICB - 15N">NHS DEVON ICB - 15N</option>
            <option value="NHS NORTH EAST AND NORTH CUMBRIA ICB - 16C">NHS NORTH EAST AND NORTH CUMBRIA ICB - 16C</option>
    NHS NORTH EAST AND NORTH CUMBRIA ICB - 00L
NHS NORTH EAST AND NORTH CUMBRIA ICB - 00N
NHS NORTH EAST AND NORTH CUMBRIA ICB - 00P
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00Q
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00R
NHS GREATER MANCHESTER ICB - 00T
NHS GREATER MANCHESTER ICB - 00V
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 00X
NHS GREATER MANCHESTER ICB - 00Y
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01A
NHS GREATER MANCHESTER ICB - 01D
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01E
NHS CHESHIRE AND MERSEYSIDE ICB - 01F
NHS GREATER MANCHESTER ICB - 01G
NHS NORTH EAST AND NORTH CUMBRIA ICB - 01H
NHS CHESHIRE AND MERSEYSIDE ICB - 01J
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 01K
NHS CHESHIRE AND MERSEYSIDE ICB - 01T
NHS CHESHIRE AND MERSEYSIDE ICB - 01V
NHS GREATER MANCHESTER ICB - 01W
NHS CHESHIRE AND MERSEYSIDE ICB - 01X
NHS GREATER MANCHESTER ICB - 01Y
NHS GREATER MANCHESTER ICB - 02A
NHS CHESHIRE AND MERSEYSIDE ICB - 02E
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 02G
NHS GREATER MANCHESTER ICB - 02H
NHS LANCASHIRE AND SOUTH CUMBRIA ICB - 02M
NHS SOUTH YORKSHIRE ICB - 02P
NHS NOTTINGHAM AND NOTTINGHAMSHIRE ICB - 02Q
NHS WEST YORKSHIRE ICB - 02T
NHS SOUTH YORKSHIRE ICB - 02X
NHS HUMBER AND NORTH YORKSHIRE ICB - 02Y
NHS HUMBER AND NORTH YORKSHIRE ICB - 03F
NHS HUMBER AND NORTH YORKSHIRE ICB - 03H
NHS HUMBER AND NORTH YORKSHIRE ICB - 03K
NHS SOUTH YORKSHIRE ICB - 03L
NHS SOUTH YORKSHIRE ICB - 03N
NHS HUMBER AND NORTH YORKSHIRE ICB - 03Q
NHS WEST YORKSHIRE ICB - 03R
NHS LEICESTER, LEICESTERSHIRE AND RUTLAND ICB - 03W
NHS LEICESTER, LEICESTERSHIRE AND RUTLAND ICB - 04C
NHS LEICESTER, LEICESTERSHIRE AND RUTLAND ICB - 04V
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 04Y
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 05D
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 05G
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 05Q
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 05V
NHS STAFFORDSHIRE AND STOKE-ON-TRENT ICB - 05W
NHS CAMBRIDGESHIRE AND PETERBOROUGH ICB - 06H
NHS HERTFORDSHIRE AND WEST ESSEX ICB - 06K
NHS SUFFOLK AND NORTH EAST ESSEX ICB - 06L
NHS HERTFORDSHIRE AND WEST ESSEX ICB - 06N
NHS MID AND SOUTH ESSEX ICB - 06Q
NHS SUFFOLK AND NORTH EAST ESSEX ICB - 06T
NHS MID AND SOUTH ESSEX ICB - 07G
NHS HERTFORDSHIRE AND WEST ESSEX ICB - 07H
NHS SUFFOLK AND NORTH EAST ESSEX ICB - 07K
NHS SUSSEX ICB - 09D
NHS BUCKINGHAMSHIRE, OXFORDSHIRE AND BERKSHIRE WEST ICB - 10Q
NHS HAMPSHIRE AND ISLE OF WIGHT ICB - 10R
NHS DORSET ICB - 11J
NHS GLOUCESTERSHIRE ICB - 11M
NHS CORNWALL AND THE ISLES OF SCILLY ICB - 11N
NHS SOMERSET ICB - 11X
NHS CHESHIRE AND MERSEYSIDE ICB - 12F
NATIONAL COMMISSIONING HUB 1
LONDON COMMISSIONING HUB
NHS NORTH EAST AND NORTH CUMBRIA ICB - 13T
MIDLANDS COMMISSIONING HUB
EAST OF ENGLAND COMMISSIONING HUB
SOUTH WEST COMMISSIONING HUB
SOUTH EAST COMMISSIONING HUB
NHS GREATER MANCHESTER ICB - 14L
LONDON - H&J COMMISSIONING HUB
MIDLANDS - H&J COMMISSIONING HUB
EAST OF ENGLAND - H&J COMMISSIONING HUB
SOUTH WEST - H&J COMMISSIONING HUB
NHS BUCKINGHAMSHIRE, OXFORDSHIRE AND BERKSHIRE WEST ICB - 14Y
NHS BUCKINGHAMSHIRE, OXFORDSHIRE AND BERKSHIRE WEST ICB - 15A
NHS BRISTOL, NORTH SOMERSET AND SOUTH GLOUCESTERSHIRE ICB - 15C
NHS BIRMINGHAM AND SOLIHULL ICB - 15E
NHS WEST YORKSHIRE ICB - 15F
NATIONAL COMMISSIONING HUB 2
NHS DERBY AND DERBYSHIRE ICB - 15M
NHS DEVON ICB - 15N
NHS NORTH EAST AND NORTH CUMBRIA ICB - 16C
NHS HEREFORDSHIRE AND WORCESTERSHIRE ICB - 18C
NHS NORFOLK AND WAVENEY ICB - 26A
NHS CHESHIRE AND MERSEYSIDE ICB - 27D
NORTH WEST COMMISSIONING HUB
NORTH WEST - H&J COMMISSIONING HUB
NHS WEST YORKSHIRE ICB - 36J
NHS SOUTH WEST LONDON ICB - 36L
NHS HUMBER AND NORTH YORKSHIRE ICB - 42D
NHS NOTTINGHAM AND NOTTINGHAMSHIRE ICB - 52R
NHS SUSSEX ICB - 70F
NHS LINCOLNSHIRE ICB - 71E
NHS SOUTH EAST LONDON ICB - 72Q
NORTH EAST AND YORKSHIRE - H&J COMMISSIONING HUB
NHS NORTHAMPTONSHIRE ICB - 78H
NHS NORTH EAST AND NORTH CUMBRIA ICB - 84H
NORTH EAST AND YORKSHIRE COMMISSIONING HUB
NHS KENT AND MEDWAY ICB - 91Q
NHS SURREY HEARTLANDS ICB - 92A
NHS BATH AND NORTH EAST SOMERSET, SWINDON AND WILTSHIRE ICB - 92G
NHS NORTH CENTRAL LONDON ICB - 93C
NHS SUSSEX ICB - 97R
SOUTH EAST - H&J COMMISSIONING HUB
NHS CHESHIRE AND MERSEYSIDE ICB - 99A
NHS NORTH EAST AND NORTH CUMBRIA ICB - 99C
NHS MID AND SOUTH ESSEX ICB - 99E
NHS MID AND SOUTH ESSEX ICB - 99F
NHS MID AND SOUTH ESSEX ICB - 99G
NHS NORTH EAST LONDON ICB - A3A8R
NEWHAM - SUB-ICB REPORTING ENTITY
CITY AND HACKNEY - SUB-ICB REPORTING ENTITY
HARINGEY - SUB-ICB REPORTING ENTITY
NHS COVENTRY AND WARWICKSHIRE ICB - B2M3M
GREENWICH - SUB-ICB REPORTING ENTITY
BRACKNELL FOREST - SUB-ICB REPORTING ENTITY
NHS BLACK COUNTRY ICB - D2P2L
WEST LONDON - SUB-ICB REPORTING ENTITY
NHS FRIMLEY ICB - D4U1Y
SOUTHWARK - SUB-ICB REPORTING ENTITY
ISLINGTON - SUB-ICB REPORTING ENTITY
NHS HAMPSHIRE AND ISLE OF WIGHT ICB - D9Y0V
HAVERING - SUB-ICB REPORTING ENTITY
WALTHAM FOREST - SUB-ICB REPORTING ENTITY
BARNET - SUB-ICB REPORTING ENTITY
WANDSWORTH - SUB-ICB REPORTING ENTITY
LAMBETH - SUB-ICB REPORTING ENTITY
NORTH EAST HAMPSHIRE AND FARNHAM - SUB-ICB REPORTING ENTITY
RICHMOND - SUB-ICB REPORTING ENTITY
REDBRIDGE - SUB-ICB REPORTING ENTITY
CAMDEN - SUB-ICB REPORTING ENTITY
EALING - SUB-ICB REPORTING ENTITY
SUTTON - SUB-ICB REPORTING ENTITY
BROMLEY - SUB-ICB REPORTING ENTITY
HILLINGDON - SUB-ICB REPORTING ENTITY
SLOUGH - SUB-ICB REPORTING ENTITY
CROYDON - SUB-ICB REPORTING ENTITY
NHS BEDFORDSHIRE, LUTON AND MILTON KEYNES ICB - M1J4Y
NHS SHROPSHIRE, TELFORD AND WREKIN ICB - M2L0M
SURREY HEATH - SUB-ICB REPORTING ENTITY
LEWISHAM - SUB-ICB REPORTING ENTITY
BRENT - SUB-ICB REPORTING ENTITY
MERTON - SUB-ICB REPORTING ENTITY
BEXLEY - SUB-ICB REPORTING ENTITY
KINGSTON - SUB-ICB REPORTING ENTITY
HAMMERSMITH AND FULHAM - SUB-ICB REPORTING ENTITY
ROYAL BOROUGH OF WINDSOR AND MAIDENHEAD - SUB-ICB REPORTING ENTITY
TOWER HAMLETS - SUB-ICB REPORTING ENTITY
ENFIELD - SUB-ICB REPORTING ENTITY
NHS NORTH WEST LONDON ICB - W2U3Z
BARKING AND DAGENHAM - SUB-ICB REPORTING ENTITY
NHS WEST YORKSHIRE ICB - X2C4Y
HARROW - SUB-ICB REPORTING ENTITY
CENTRAL LONDON - SUB-ICB REPORTING ENTITY
HOUNSLOW - SUB-ICB REPORTING ENTITY
    
    
    
  </select>
</div>
<a href="/auto">



{% endblock %}